@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --btn-background-color: #6c63ff;
  --code-tag-color: #8d8bf9;
  --title-color: #8d8bf9;
  --details-color: #a4a3ec;
  --btn-bg-color: #6c63ff;
  --card-border-color: #6c63ff;
  --bg-color: #171b22;
  --font-color: #e6e6e6;
  --reverse-font-color: black;
  --surface-bg-color: #222832;
  --surface-transparent-bg-color: #302d68;
  --nav-bg-color: #222832;
  --nav-background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28141, 139,249, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*
:root {
  --btn-background-color: #a4a3ec;
  --code-tag-color: #6c63ff;
  --title-color: #6c63ff;
  --details-color: #6c63ff;
  --btn-bg-color: #a4a3ec;
  --card-border-color: #a4a3ec;
  --bg-color: #f2f2f2;
  --font-color: black;
  --reverse-font-color: #e6e6e6;
  --surface-bg-color: #e6e6e6;
  --surface-transparent-bg-color: #a4a3ec;
  --nav-bg-color: #e6e6e6;
  --nav-background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28108, 99, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}*/
body {
  background-color: var(--bg-color);
}
body * {
  color: var(--font-color);
  font-family: "Inter", sans-serif;
}
body *::-moz-selection {
  background-color: var(--title-color);
  color: var(--reverse-font-color);
}
body *::selection {
  background-color: var(--title-color);
  color: var(--reverse-font-color);
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif;
  line-height: 0.8;
  color: var(--title-color);
}

h1 {
  font-size: 64px;
  margin: 0;
}

h4 {
  font-size: 16px;
}

nav,
.nav {
  background: var(--nav-bg-color);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
nav .navbar-brand,
.nav .navbar-brand {
  width: 20px;
}
nav .navbar-brand img,
.nav .navbar-brand img {
  width: 90px;
}
nav .collapse .navbar-nav .nav-item,
.nav .collapse .navbar-nav .nav-item {
  color: var(--details-color);
  font-weight: bold;
  transition: opacity 0.4s;
}
nav .collapse .navbar-nav .nav-item:hover:not(.active),
.nav .collapse .navbar-nav .nav-item:hover:not(.active) {
  border-bottom: 1px solid !important;
}
nav .collapse .navbar-nav .nav-item.active,
.nav .collapse .navbar-nav .nav-item.active {
  color: var(--font-color);
  opacity: 1;
  -webkit-text-decoration: solid underline var(--details-color) !important;
          text-decoration: solid underline var(--details-color) !important;
}
nav .navbar-toggler,
.nav .navbar-toggler {
  transition: border 0.5s;
}
nav .navbar-toggler .navbar-toggler-icon,
.nav .navbar-toggler .navbar-toggler-icon {
  background-image: var(--nav-background);
}
nav .navbar-toggler:hover, nav .navbar-toggler:active,
.nav .navbar-toggler:hover,
.nav .navbar-toggler:active {
  box-shadow: none;
  border-color: var(--details-color);
}

nav:last-child {
  padding: 8px 16px;
}

#inicio {
  padding-top: 90px;
}

#projetos .project-subtitle {
  margin-bottom: 64px;
}
#projetos .project-container {
  position: relative;
}
#projetos .project-container .card {
  height: 140px;
  position: relative;
  transition: transform 0.2s;
}
#projetos .project-container svg {
  transform: scale(3);
  transform-origin: bottom right;
  position: absolute;
  right: 4px;
  bottom: 4px;
}
#projetos .project-container svg.student-svg * {
  fill: var(--surface-transparent-bg-color);
  stroke: var(--surface-transparent-bg-color);
}
#projetos .project-container svg.student-svg .student-svg-tie path {
  fill: var(--details-color) !important;
  stroke: var(--details-color);
}
#projetos .project-container svg.student-svg .student-svg-string {
  fill: var(--details-color);
  stroke: var(--details-color);
}
#projetos .project-container svg.article-svg-group .article-outline {
  fill: var(--details-color);
}
#projetos .project-container svg.article-svg-group .article-background {
  fill: var(--surface-transparent-bg-color);
}
#projetos .project-container svg.article-svg-group .article-line {
  fill: var(--details-color);
}
#projetos .project-container svg.cleaning-magic {
  fill: green;
}
#projetos .project-container svg.cleaning-magic .hat-base {
  fill: var(--surface-transparent-bg-color);
  stroke: var(--surface-transparent-bg-color);
}
#projetos .project-container svg.cleaning-magic .hat-mounth {
  fill: var(--surface-transparent-bg-color);
  stroke: var(--surface-transparent-bg-color);
}
#projetos .project-container svg.cleaning-magic .hat-line {
  fill: var(--details-color) !important;
  stroke: var(--details-color);
}
#projetos .project-container svg.cleaning-magic .magic-sponge {
  transition: transform 0.5s !important;
  transform: translateY(1em);
}
#projetos .project-container svg.cleaning-magic .magic-sponge g * {
  fill: #6c63ff;
}
#projetos .project-container svg.joystick .joystick-base *,
#projetos .project-container svg.joystick .joystick-stick {
  fill: var(--surface-transparent-bg-color);
}
#projetos .project-container svg.joystick .joystick-top,
#projetos .project-container svg.joystick .joystick-base-top,
#projetos .project-container svg.joystick .joystick-lights * {
  fill: var(--details-color);
}
#projetos .project-container::after {
  display: inline-block;
  transition: transform 0.2s !important;
  position: absolute;
  content: "";
  z-index: -1;
  bottom: 13px;
  left: 10px;
  width: 95%;
  height: 82%;
  border: solid var(--card-border-color);
  border-radius: 5px;
  border-width: 2px;
}
#projetos .project-container:hover .card {
  transform: translate(3px, -3px);
}
#projetos .project-container:hover::after {
  transform: translate(-3px, 3px);
}
#projetos .project-container:hover svg.student-svg .student-svg-head {
  animation: swing_effect 1.3s linear infinite;
  transform-origin: bottom;
}
#projetos .project-container:hover svg.student-svg .student-svg-string {
  animation: student_string 1.3s linear infinite;
  transform-origin: top;
}
#projetos .project-container:hover svg.article-svg-group .article-svg-2 {
  animation: spinner 1s ease-in-out infinite;
  transform-origin: left;
}
#projetos .project-container:hover svg.cleaning-magic .magic-sponge {
  transform: translateY(0em);
}
#projetos .project-container:hover svg.joystick .joystick-move {
  animation: swing_effect 1s linear infinite;
  transform-origin: bottom;
}
#projetos .project-container:hover svg.joystick .joystick-light-1 {
  animation: blink_effect 0.5s linear infinite;
  transform-origin: bottom;
}
#projetos .project-container:hover svg.joystick .joystick-light-2 {
  animation: blink_effect 0.55s linear infinite;
  transform-origin: bottom;
}
#projetos .project-container:hover svg.joystick .joystick-light-3 {
  animation: blink_effect 0.6s linear infinite;
  transform-origin: bottom;
}
#projetos .project-text {
  z-index: 2;
}
#projetos .project-image {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: red;
}

#profile-image {
  position: relative;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: none;
     object-fit: none;
}
#profile-image #profile-pic {
  transform: scale(0.8);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}
#profile-image #profile-shadow {
  transform: scale(0.8);
  position: absolute;
  top: 16px;
  left: -13px;
  z-index: -1;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}

#sobre .sticky {
  height: -moz-max-content;
  height: max-content;
  top: 90px;
  position: sticky;
}
#sobre .about-itens p {
  margin-top: 32px;
  margin-bottom: 64px;
}

.home-data {
  height: 60vh;
}
.home-data .user-subtitle {
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 32px;
}
.home-data .user-subtitle .user-subtitle-text {
  color: var(--details-color);
}
.home-data .btn-container {
  margin-top: 64px;
}

.btn-primary {
  background-color: var(--btn-background-color);
  border-color: var(--btn-background-color);
  color: var(--font-color);
  font-weight: 500;
}
.btn-primary:hover, .btn-primary:active {
  background-color: var(--btn-background-color) !important;
  border-color: var(--btn-background-color) !important;
  color: var(--font-color) !important;
}

.btn-container {
  position: relative;
  display: inline-block;
}
.btn-container .btn {
  transition: transform 0.2s, border 0.2s, background-color 0.2s;
}
.btn-container::after {
  display: inline-block;
  padding: 6px 12px;
  transition: transform 0.2s, border 0.2s !important;
  position: absolute;
  content: "";
  color: transparent;
  z-index: -1;
  width: inherit;
  height: inherit;
  border: solid var(--details-color);
  border-radius: 5px;
  border-width: 2px;
  bottom: -3px;
  left: -3px;
}
.btn-container:hover .btn {
  transform: translate(3px, -3px);
}
.btn-container:hover::after {
  transform: translate(-3px, 3px) !important;
}
.btn-container:focus .btn, .btn-container:active .btn {
  transform: translate(3.5px, -3.5px);
  background-color: var(--details-color) !important;
  border-color: var(--details-color) !important;
  color: var(--reverse-font-color) !important;
}
.btn-container:focus::after, .btn-container:active::after {
  transform: translate(-3.5px, 3.5px) !important;
  border-color: var(--btn-background-color);
}
.btn-container.btn-contact::after {
  content: "entrar em contato";
}
.btn-container.btn-project::after {
  content: "mais projetos";
}

.card {
  background-color: var(--surface-bg-color);
  margin-bottom: 16px;
}

.code-tag {
  color: var(--code-tag-color);
}

.full-page {
  min-height: 100vh;
  padding-top: 90px;
}

.scroll svg {
  margin: auto;
}
.scroll svg.play {
  animation: floating_arrow 1s ease-in-out infinite alternate;
  transform-origin: inherit;
}
.scroll svg.play path {
  fill: var(--title-color);
}
.scroll div {
  border: solid var(--details-color);
  border-radius: 50px;
  border-width: 2px;
  height: 60px;
  width: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn-custom {
  position: relative;
  width: 208px;
  height: 65px;
}
.btn-custom .btn-inner {
  z-index: 1;
  position: absolute;
  width: 208px;
  height: 65px;
  line-height: 55px;
  text-align: center;
  justify-content: center;
}
.btn-custom .btn-inner span {
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}
.btn-custom .btn-foreground {
  position: absolute;
}
.btn-custom .btn-background {
  position: absolute;
  top: 1.5px;
  left: 1px;
  z-index: -1;
}

@keyframes floating_arrow {
  from {
    transform: translateY(-0.5em);
  }
  to {
    transform: translateY(0.5em);
  }
}
@keyframes swing_effect {
  0%, 100% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(4.5deg);
  }
  75% {
    transform: rotateZ(-4.5deg);
  }
}
@keyframes blink_effect {
  0% {
    filter: opacity(100%);
  }
  25% {
    filter: opacity(75%);
  }
  75% {
    filter: opacity(50%);
  }
  100% {
    filter: opacity(25%);
  }
}
@keyframes student_string {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(3deg);
  }
  75% {
    transform: rotateZ(-1deg);
  }
}
@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-88deg);
  }
}/*# sourceMappingURL=style.css.map */